@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@layer utilities {
  .custom-slider::-webkit-slider-thumb {
    @apply w-4 h-4 bg-zinc-300 rounded-full border-2 border-gray-700 cursor-pointer;
    appearance: none;
  }

  .custom-slider::-moz-range-thumb {
    @apply w-4 h-4 bg-zinc-300 rounded-full border-2 border-gray-700 cursor-pointer;
  }

  .custom-slider::-ms-thumb {
    @apply w-4 h-4 bg-zinc-300 rounded-full border-2 border-gray-700 cursor-pointer;
  }
}


.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  /* Alterar para 100% */
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 217, 0, 0) 0%, #854190 75%, #ffffff 100%);
  animation: run 5s infinite linear;
  /* Ajustar a duração da animação conforme necessário */
  animation-fill-mode: forwards;
}

@keyframes run {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.line:nth-child(1)::after {
  animation-delay: 0s;
}

.line:nth-child(2)::after {
  animation-delay: 0.5s;
}

.line:nth-child(3)::after {
  animation-delay: 1s;
}

.line:nth-child(4)::after {
  animation-delay: 1.5s;
}

.line:nth-child(5)::after {
  animation-delay: 2s;
}

.line:nth-child(6)::after {
  animation-delay: 2.5s;
}

.line:nth-child(7)::after {
  animation-delay: 3s;
}

.line:nth-child(8)::after {
  animation-delay: 3.5s;
}

.line:nth-child(9)::after {
  animation-delay: 4s;
}

.line:nth-child(10)::after {
  animation-delay: 4.5s;
}

.line:nth-child(11)::after {
  animation-delay: 5s;
}

.line:nth-child(12)::after {
  animation-delay: 5.5s;
}

.line:nth-child(13)::after {
  animation-delay: 6s;
}

.line:nth-child(14)::after {
  animation-delay: 6.5s;
}

.line:nth-child(15)::after {
  animation-delay: 7s;
}

.line:nth-child(16)::after {
  animation-delay: 7.5s;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}